/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card-p, 400);
  font-size: var(--font-size-p, 18px);

  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  background-repeat: repeat;
  display: flex;
  justify-content: center;
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin: 100px 0;
  width: var(--logo-width, 700px);
  height: var(--logo-height, 368px);
  border: 2px solid var(--text-color,#000);
  font-family: var(--font-press-start, sans-serif);

  background-color: var(--bg-color, #fff);
}

.header-logo-h1 {
  font-size: var(--logo-h-size, 65px);
  line-height: 100%;
}

.header-logo-text {
  font-size: var(--logo-text-size, 23px);
  line-height: 100%;
  text-transform: uppercase;
}

.content-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  width: var(--logo-width, 698px);
  min-height: var(--content-card-height, 960px);
  background-color: var(--bg-color, #fff);

  border: 2px solid var(--text-color,#000);
  margin-bottom: 50px;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-inter, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card-h, 700);
  font-size: var(--font-size-p, 18px);

  padding: 6px 10px;
  line-height: 100%;
}

.card-image-wrap {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  border-top: 2px solid var(--text-color, #000);
  border-bottom: 2px solid var(--text-color, #000);
}

.card-image {
  width: 100%;
  height: 100%;
}

.card:nth-child(2) .card-image {
  filter: grayscale(80%);
}

.card:nth-child(3) .card-image {
  filter: saturate(500%);
}

.card:nth-child(4) .card-image {
  filter: hue-rotate(30deg);
}

.card:nth-child(5) .card-image {
  filter: invert(0.8);
}

.card:nth-child(6) .card-image {
  filter: sepia(0.9);
}

.card:nth-child(7) .card-image {
  filter: blur(1.2rem);
}

.card:nth-child(8) .card-image {
  filter: blur(0.15rem) hue-rotate(95deg) saturate(200%) contrast(40%);
}

.card-label {
  position: absolute;
  font-family: var(--font-press-start, sans-serif);
  font-size: var(--font-sizee-btn, 14px);
  mix-blend-mode: hard-light;
  padding: 27px 25px;
  right: 0;
}

@supports (text-stroke: 1px #fff) {

  .card-label {
    -webkit-text-stroke: 1px rgb(255 255 255 / 0.5);
  }
}

@supports (-webkit-text-stroke: 1px #fff) {

  .card-label {
    -webkit-text-stroke: 1px rgb(255 255 255 / 0.5);
  }
}

.card-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card-text {
  font-family: var(--font-inter, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card-p, 400);
  line-height: 21px;

  padding: 0px 25px;
}

.button-wrap {
  padding: 25px;
  display: flex;
  justify-content: end;
}

.button {
  background-color: var(--bg-color, #fff);
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid var(--text-color, #000);
  font-family: var(--font-press-start, sans-serif);
  font-size: var(--font-sizee-btn, 14px);

  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
  width: 120px;

  line-height: 90%;
}

.card__icon-button {
  border: transparent;
}

.button:focus {
  outline: none;
}

.button-save {
  display: flex;
  min-block-size: 55px;
  border: 2px solid var(--text-color,#000);
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease;

  margin-top: 2px;
  padding: 15px 19px;
}

.button__text-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  mix-blend-mode: difference;
}

.floppy-svg {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  fill: var(--bg-color, #fff);
  transition: color 0.5s ease-in-out;
}

.button__text-save {
  position: relative;
  z-index: 1;
  font-family: var(--font-press-start, sans-serif);
  font-size: var(--font-sizee-btn, 14px);
  color: var(--bg-color, #fff);
}

.button__effect {
  position: relative;
}

.button__effect:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--text-color, #000);
}

.button__effect::before {
  content: "";
  background-color: var(--text-color, #000);
  transform-origin: left;
  transform: scaleX(0);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transition: transform 0.5s ease-in-out;
}

.button__effect:hover::before {
  transform: scaleX(1);
} 

.dialog[open] {
  padding: 30px;

  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 30px;
  font-family: "PressStart2P-Regular";
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog[open]::backdrop {
  opacity: 0.75;
  background: var(--text-color, #000);
}

.dialog-floppy {
  width: 39px;
}

.dialog-wrap {
  display: flex;
  gap: 20px;
  justify-self: start;
}

.dialog-close {
  display: flex;
  align-items: center;
  height: 38px;
  inline-size: var(--dialog-width, 293px);
  background-color: var(--bg-color, #fff);

  transition: box-shadow 0.3s ease;
  padding: 12.5px 132.5px;
}

.dialog-close-text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
  color: var(--bg-color, #fff);
}

@media (width <= 375px) {
  .dialog-close {
    padding: 12.5px 114.5px;
  }
  .button-save {
    flex-direction: column;
  }
  .floppy-svg {
    width: 28px;
    margin-top: 2px;
  }
}