/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-inter: Inter-Variable;
    --font-press-start: PressStart2P-Regular;
    --font-weight-card-h: 700;
    --font-weight-card-p: 400;
    --font-size-p: 18px;
    --font-sizee-btn: 14px;

    --bg-height: clamp(667px, 583.29px + 26.16vw, 960px);
    --logo-width: clamp(375px, 260.56px + 30.52vw, 700px);
    --logo-height: clamp(327px, 312.56px + 3.85vw, 368px);
    --logo-h-size: clamp(49px, 43.37px + 1.50vw, 65px);
    --logo-text-size: clamp(14px, 10.83px + 0.85vw, 23px);
    --content-card-height: clamp(760px, 703.14px + 17.77vw, 959px);
    --dialog-width: clamp(257px, 244,32px + 3,38vw, 293px);

    --label-margin: clamp(13px, 8,77px + 1,13vw, 25px);

    --bg-color: #fff;
    --text-color: #000;
    --bg-pixel-bright: #e7e7e7;
    --bg-pixel-dark: #1a1a1a;
    --bg-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --contour-color: #000;
    --animation-fill-color: #f00;
}